{% block cookie_content %}
<div class="text-muted">
    <h1>Cookies Policy</h1>

    <h2>Scope</h2>
    <p>This Cookie Policy explains how our website uses cookies and similar technologies to recognize you when you visit our site. It describes what these technologies are, why we use them, and your rights to control their use. This policy applies to all users who access our website and is intended to provide transparency regarding our data collection practices through cookies.</p>

    <h2>Who are we?</h2>
    <p><strong>NEWGEN SRL</strong> owns and manages the domain <strong>workflowtime.com</strong> (hereinafter referred to as the website) with the following identification and contact data:</p>
    <ul>
        <li>Legal and fiscal identification data: registration with the Trade Register under the number J40/12730/ 02.10.2020</li>
        <li>Address: Bd. Apicultorilor nr. 70-72, 2nd Floor, Bucharest, 013851</li>
        <li>Contact data: <a href="mailto:office@workflowtime.com">office@workflowtime.com</a></li>
    </ul>

    <h2>How do we use your information?</h2>
    <p>Our services are mainly aimed at all those who want complete industrial solutions. In addition, we collect data of users accessing our website to find out about our services. When you use our website to search for our services and to view the information we publish within this online environment, a number of cookies (more information can be found here) are used by us (first-party cookies) and by third parties (third-party cookies) to allow the website to function, to collect useful information about visitors, and to offer you the best possible experience in using our website.</p>

    <p>Some of the cookies we use are strictly necessary for our website to work and we do not ask for your consent to insert them into your computer. These cookies are listed below.</p>

    <h3>Necessary cookies</h3>
    <p>Necessary cookies help the use of a website by enabling basic functions such as page navigation and access to secure areas of the website. The website cannot function properly without these cookies.</p>

    <p>For those cookies that are useful but not strictly necessary, we will always ask for your consent before placing them, only once when visiting the website. These are:</p>

    <h3>Preferences</h3>
    <p>Preferences cookies allow a website to remember information that changes the way the website behaves or looks, such as your preferred language or region.</p>

    <h3>Statistics</h3>
    <p>Statistics cookies help us understand how visitors interact with our website by collecting and reporting information anonymously.</p>

    <h3>Marketing</h3>
    <p>Marketing cookies are used to track visitors on websites. The intent is to show ads that are relevant and interesting to each user and therefore more valuable to publishers and third-party advertisers. In addition to the cookies we use, working with third parties to provide you with a timely experience, they place various cookies on your computer but only with your consent. These are shown below.</p>

    <h3>Unclassified</h3>
    <p>Unclassified cookies are cookies that we are in the process of classifying together with individual cookie providers.</p>

    <p>The method of collecting consent is as easy as withdrawing it, the visitor being able to manage their cookie preferences by accessing the dedicated platform within the website.</p>

    <p>When you submit a request through our website, the personal data we request from you consists of your name, telephone number, and email address. We do not share this data with third parties; only the technical service, through the prism of its role that deals with the construction/maintenance/optimization of the website, can have access to them but only under conditions of guaranteed confidentiality.</p>

    <p>In order to comply with the principle of minimization established by the GDPR, we prefer that you provide us with as little personal data as possible as long as you can provide us with, for example, contact data from the organizational environment of origin. Also, we will never ask you for personal data irrelevant to the object of our possible collaboration.</p>

    <p>We use this information to respond to your request, including providing information about our services. Your request is registered and then processed after honouring it, remaining stored together with the data you provide us in this way in the Cloud of the website for an indefinite period until you expressly request their deletion. Until the date of removal of your data from our information system, we consider you agree to occasionally send you newsletters or other information regarding the services we offer.</p>

    <p>We do NOT use the information you provide to make automated decisions that may affect you. We retain solicitation emails for two years, after which they are securely archived and retained for five years and afterwards being deleted. CRM records are kept for three years from the last contact with you. The printed e-mails are kept in the commercial file of the completed collaboration until the expiration of the legal archiving requirement or in the case of a dispute until the completion of the court actions in case this document is constituted as evidence in the respective file.</p>

    <h3>Comments</h3>
    <p>When visitors leave comments on the website, we collect the data shown in the comment forms but also the visitor’s IP address and browser user agent string to help us detect spam. An anonymized string (also called a hash) created from your email addresses can be provided to Gravatar service to see if you use it. The privacy policy of the Gravatar service is available here. After comment approval, your profile photo is publicly visible next to your comment. If you leave a comment, the comment and its metadata are kept indefinitely. This way we can automatically recognize and approve all subsequent comments instead of holding them in a queue for moderation.</p>

    <h3>Embedded content from other websites</h3>
    <p>Articles on this website may include embedded content (for example, videos, images, articles, etc.). Embedded content from other websites behaves exactly as if visitors viewed another website. These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with embedded content, including tracking your interaction with embedded content if you have an account and are logged in on that website.</p>

    <h2>Your rights as a data subject</h2>
    <p>You can ask us what information we have about you and ask us to correct it if it is inaccurate. If we have asked you and you have given us consent to process your data, you can withdraw this consent at any time. Here is the full list of rights you have:</p>
    <ul>
        <li>The right to information – you can request information regarding the processing activities of your personal data;</li>
        <li>The right to rectification – you can rectify inaccurate personal data or complete them;</li>
        <li>The right to delete data (“the right to be forgotten”) – you can obtain the deletion of data if the processing was not legal or in other cases provided by law;</li>
        <li>The right to restrict processing – you can request the restriction of processing if you dispute the accuracy of the data as well as in other cases provided by law;</li>
        <li>The right to object – you can object in particular to data processing based on our legitimate interest;</li>
        <li>The right to data portability – you can receive under certain conditions the personal data you have provided to us in a format that can be read automatically or you can request that said data be transmitted to another operator;</li>
        <li>The right to file a complaint – you can file a complaint against the way of processing personal data to the National Authority for the Supervision of Personal Data Processing;</li>
        <li>The right to withdraw consent – in cases where the processing is based on your consent, you can withdraw it at any time without imposing any conditions. The withdrawal of consent will have only future effects, the processing carried out prior to the withdrawal still remaining valid;</li>
        <li>Additional rights related to automatic decisions: you can request and obtain human intervention regarding the respective processing, you can express your own point of view regarding it, and you can challenge the decision.</li>
    </ul>

    <p>To submit a request regarding your personal data by email, post, or telephone, please use the contact information provided above in the About Us section of this policy.</p>

    <h2>Your right to file a complaint</h2>
    <p>If you have a complaint about our use of your information, we would prefer that you contact us first so that we can resolve the complaint amicably. It is your right when you consider it appropriate to contact the National Supervisory Authority for the processing of Personal Data for information through their website or write to them at the address: B-dul G-ral. Gheorghe Maghearu 28-30, Sector 1, postal code 010336, Bucharest, Romania.</p>

    <h2>Updates to this privacy policy</h2>
    <p>We regularly review and, if necessary, periodically update this privacy policy when changes occur as a result of the provision of services. If we want to use your personal data in a way that we have not previously identified, we will contact you to offer information about this and, if necessary, to ask for your consent.</p>

    <p>We will update the version number and date of this document each time it is changed. This policy becomes operational from 09.08.2024.</p>
</div>
{% endblock cookie_content %}
