{% load static %}
{% load i18n %}
{% block features %}

 <!-- Features start -->
 <section class="section bg-light" id="features">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 text-center">
                <h2 class="fw-bold">{% trans "Our Features" %}</h2>
                <p class="text-muted">{% trans "Every business is unique, so our solutions are fully customizable, scalable, and integrate seamlessly. We craft automation that grows with your needs." %}</p>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        <div class="row align-items-center mb-5">
            <div class="col-md-5 order-2 order-md-1 mt-md-0 mt-5">
                <h2 class="mb-4">{% trans "Automate Document Workflows" %}</h2>
                <p class="text-muted mb-5">{% trans "Simplify how your team handles documents with our tailored automation solutions. From document generation to approvals and storage, our system streamlines every step. Automatically route documents to the right people, reduce manual data entry, and ensure compliance with every task." %}</p>
                <a href="https://calendly.com/office-workflowtime/30min" target="_blank" class="btn btn-primary">{% trans "Find out more" %} <i class="icon-xs ms-2" data-feather="arrow-right"></i></a>
            </div>
            <!-- end col -->
            <div class="col-md-6 ms-md-auto order-1 order-md-2">
                <div class="position-relative">
                    <div class="ms-5 features-img">
                        <img src="{% static 'images/feature1.jpeg' %}" alt="" class="img-fluid d-block mx-auto rounded shadow" />
                    </div>
                    <img src="{% static 'images/dot-img.png' %}" alt="" class="dot-img-left" />
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        <div class="row align-items-center section pb-0">
            <div class="col-md-6">
                <div class="position-relative mb-md-0 mb-5">
                    <div class="me-5 features-img">
                        <img src="{% static 'images/feature2.jpeg' %}" alt="" class="img-fluid d-block mx-auto rounded shadow" />
                    </div>
                    <img src="{% static 'images/dot-img.png' %}" alt="" class="dot-img-right" />
                </div>
            </div>
            <!-- end col -->
            <div class="col-md-5 ms-md-auto">
                <h2 class="mb-4">{% trans "Intelligent Process Automation" %}</h2>
                <p class="text-muted mb-5">{% trans "Our intelligent process automation adapts to your business needs, whether it's managing customer inquiries or automating repetitive tasks. We provide end-to-end solutions that integrate seamlessly with your current software, optimizing workflows for maximum efficiency." %}</p>
                <a href="https://calendly.com/office-workflowtime/30min" target="_blank" class="btn btn-primary">{% trans "Find out more" %} <i class="icon-xs ms-2" data-feather="arrow-right"></i></a>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- Features end -->

<section class="section bg-gradient-primary">
    <div class="bg-overlay-img" style="background-image: url(/static/images/demos.png);"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <h1 class="text-white mb-4">{% trans "Start Your Automation Journey Today" %}</h1>
                    <p class="text-white mb-5 font-size-16">{% trans "Let us show you how Workflow Time can transform your operations. Schedule a demo today and experience the benefits of automation firsthand." %}</p>
                    <a href="https://calendly.com/office-workflowtime/30min" target="_blank" class="btn btn-lg btn-light">{% trans "Ask for Demonstration" %}</a>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- Cta end -->

{% endblock features %}
