{% load static %}
{% block features %}

 <!-- Features start -->
 <section class="section bg-light" id="features">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 text-center">
                <h2 class="fw-bold">Our Features</h2>
                <p class="text-muted">Discover the innovative capabilities of Workflow Time that set us apart and drive your business forward.</p>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        <div class="row align-items-center mb-5">
            <div class="col-md-5 order-2 order-md-1 mt-md-0 mt-5">
                <h2 class="mb-4">Intelligent Task Scheduling</h2>
                <p class="text-muted mb-5">Optimize your workflow with AI-driven task scheduling that adapts to your business needs. Ensure tasks are prioritized and completed efficiently, minimizing downtime and maximizing productivity.</p>
                <a href="javascript: void(0);" class="btn btn-primary">Find out more <i class="icon-xs ms-2" data-feather="arrow-right"></i></a>
            </div>
            <!-- end col -->
            <div class="col-md-6 ms-md-auto order-1 order-md-2">
                <div class="position-relative">
                    <div class="ms-5 features-img">
                        <img src="{% static 'images/features-1.jpg' %}" alt="" class="img-fluid d-block mx-auto rounded shadow" />
                    </div>
                    <img src="{% static 'images/dot-img.png' %}" alt="" class="dot-img-left" />
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        <div class="row align-items-center section pb-0">
            <div class="col-md-6">
                <div class="position-relative mb-md-0 mb-5">
                    <div class="me-5 features-img">
                        <img src="{% static 'images/features-2.jpg' %}" alt="" class="img-fluid d-block mx-auto rounded shadow" />
                    </div>
                    <img src="{% static 'images/dot-img.png' %}" alt="" class="dot-img-right" />
                </div>
            </div>
            <!-- end col -->
            <div class="col-md-5 ms-md-auto">
                <h2 class="mb-4">Automated Reporting</h2>
                <p class="text-muted mb-5">Generate comprehensive reports automatically, providing actionable insights into your operations with minimal effort. Stay informed and make data-driven decisions to enhance your business performance.</p>
                <a href="javascript: void(0);" class="btn btn-primary">Find out more <i class="icon-xs ms-2" data-feather="arrow-right"></i></a>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- Features end -->

<section class="section bg-gradient-primary">
    <div class="bg-overlay-img" style="background-image: url(/static/images/demos.png);"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <h1 class="text-white mb-4">Start Your Automation Journey Today</h1>
                    <p class="text-white mb-5 font-size-16">Let us show you how Workflow Time can transform your operations. Schedule a demo today and experience the benefits of automation firsthand.</p>
                    <a href="https://calendly.com/office-workflowtime/30min" target="_blank" class="btn btn-lg btn-light">Ask for Demonstration</a>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- Cta end -->

{% endblock features %}
