{% load static %}
{% load i18n %}
{% block footer %}

<!-- Footer Start -->
<footer class="footer" style="background-image: url(/static/images/footer-bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-lg-start text-start">
                <div class="mb-4">
                    <a href="{% url 'index' %}"><img src="{% static 'images/16.png' %}" alt="" class="" height="30" /></a>
                    <p class="text-white-50 my-4">{% trans "Empowering your business with AI-driven automation solutions. Transform, optimize, and grow with Workflow Time." %}</p>
                </div>
            </div>
            <!-- end col -->

            <div class="col-lg-6 ms-lg-auto d-flex justify-content-lg-end justify-content-start align-items-start">
                <div class="mt-4 mt-lg-0 text-lg-start text-start" style="padding-right: 40px;">
                    <a href="#" class="text-white-50 d-block mb-2" data-bs-toggle="modal" data-bs-target="#termsModal">{% trans "Terms and Conditions" %}</a>
                    <a href="#" class="text-white-50 d-block mb-2" data-bs-toggle="modal" data-bs-target="#privacyModal">{% trans "Privacy Policy" %}</a>
                    <a href="#" class="text-white-50 d-block mb-2" data-bs-toggle="modal" data-bs-target="#cookieModal">{% trans "Cookie Policy" %}</a>
                    <a href="https://anpc.ro/" target="_blank" class="text-white-50 d-block mb-2">{% trans "ANPC" %}</a>
                    <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=RO" target="_blank" class="text-white-50 d-block mb-2">{% trans "SOL" %}</a>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="text-center text-lg-center mt-5">
                    <p class="text-white-50 f-15 mb-0">
                        <script>
                            document.write(new Date().getFullYear())
                        </script> © Workflow Time
                    </p>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

        <!-- Terms and Conditions Modal -->
        <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="termsModalLabel">{% trans "Terms and Conditions" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      {% block terms_content %}
                          {% include 'partials/terms_content.html' %}
                      {% endblock terms_content %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Privacy Policy Modal -->
        <div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="privacyModalLabel">{% trans "Privacy Policy" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% block privacy_content %}
                            {% include 'partials/privacy_policy_content.html' %}
                        {% endblock privacy_content %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cookie Policy Modal -->
        <div class="modal fade" id="cookieModal" tabindex="-1" aria-labelledby="cookieModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cookieModalLabel">{% trans "Cookie Policy" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% block cookie_content %}
                            {% include 'partials/cookie_policy_content.html' %}
                        {% endblock cookie_content %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end container -->
</footer>
<!-- Footer End -->

{% endblock footer %}
