{% load static %}

{% block hero %}

<section class="hero-3 bg-center position-relative" style="background-image: url(/static/images/hero-3-bg.png);" id="home">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <span class="badge badge-soft-primary mb-4">Professional Landing</span>
                    <h1 class="font-weight-semibold mb-4 hero-3-title">Professional, Multipurpose Landing Page</h1>
                    <p class="mb-5 text-muted subtitle w-75 mx-auto">Nemo enim ipsam voluptatem quia voluptas sit aut aspernatur aut fugit sed consequuntur magni dolores nesciunt.</p>
                    
                    <div>
                        <button type="button" class="btn btn-primary rounded-pill me-2">Sign up for free</button>
                        <button type="button" class="btn btn-light rounded-pill me-2" data-bs-toggle="modal" data-bs-target="#watchvideomodal">Play video <i class="ms-1 icon-sm align-middle" data-feather="play-circle"></i></button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade bd-example-modal-lg" id="watchvideomodal" data-keyboard="false" tabindex="-1"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
                            <div class="modal-content hero-modal-0 bg-transparent">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                <video id="VisaChipCardVideo" class="w-100" controls="">
                                    <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                                    <!--Browser does not support <video> tag -->
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div>
</section>


{% endblock hero %}