{% load static %}

{% block hero %}

<!-- Hero Start -->
<section class="hero-9 bg-center position-relative" style="background-image: url(/static/images/hero-9-bg.jpg);" id="home">
    <div class="bg-overlay bg-dark"></div>
    <div class="container">
        <div class="row justify-content-center hero-content">
            <div class="col-lg-9">
                <div class="text-center">
                    <h1 class="font-weight-semibold mb-4 text-white hero-9-title">We help startups launch their products with awesome website</h1>
                    <p class="mb-5 text-white w-lg-75 mx-auto">Nemo enim ipsam voluptatem quia voluptas sit aut aspernatur aut fugit sed quia consequuntur magni dolores ratione voluptatem nesciunt.</p>
                    <div class="text-center subscribe-form margin-t-30">
                        <form>
                            <input type="text" placeholder="Email" class="form-control" required="">
                            <button type="submit" class="btn-primary rounded-pill btn btn-none">Subscribe</button>
                        </form>
                        <!-- end form -->
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div>
</section>
<!-- Hero End -->

{% endblock hero %}