{% load static %}
{% load i18n %}

{% block hero %}
<section class="hero-1 bg-center bg-primary position-relative" style="background-image: url(static/images/hero-1-bg.png);" id="home">
    <div class="container">
        <div class="row align-items-center hero-content">
            <div class="col-lg-5">
                <h1 class="text-white display-4 font-weight-semibold mb-4 hero-1-title">{% trans "Automate Your Workflow with AI" %}</h1>
                <p class="text-white-70 mb-4  mb-lg-5">{% trans "Experience the future of business operations with Workflow Time. Our AI-powered solutions are designed to streamline your processes, save time, and reduce costs, helping you stay ahead in a competitive market." %}</p>
                <a href="#services" class="btn btn-lg btn-light rounded-pill me-2">{% trans "Get Started" %}</a>
            </div>

            <!-- end col -->
            <div class="col-lg-6 col-sm-10 mx-auto ms-lg-auto me-lg-0">
                <div class="mt-lg-0 mt-4 logo-cloud">
                    <div class="logo-container">
                        <div class="logo-wrapper">
                            <img src="{% static 'images/logos/Airtable_Logo.svg.png' %}" alt="Logo 1" class="logo">
                        </div>
                        <div class="logo-wrapper">
                            <img src="{% static 'images/logos/logo-sferal.png' %}" alt="Logo 2" class="logo large-logo-sferal">
                        </div>
                        <div class="logo-wrapper">
                            <img src="{% static 'images/logos/elevenlabs-symbol.png' %}" alt="Logo 3" class="logo">
                        </div>
                        <div class="logo-wrapper">
                            <img src="{% static 'images/logos/notion-logo_brandlogos.net_uiish.png' %}" alt="Logo 4" class="logo small-logo">
                        </div>
                        <div class="logo-wrapper">
                            <img src="{% static 'images/logos/N8n-logo-new.svg.png' %}" alt="Logo 5" class="logo large-logo">
                        </div>
                        <div class="logo-wrapper">
                            <img src="{% static 'images/logos/Make-Logo-RGB@2x-1.webp' %}" alt="Logo 6" class="logo">
                        </div>
                        <div class="logo-wrapper">
                            <img src="{% static 'images/logos/HubSpot_Logo.svg.png' %}" alt="Logo 7" class="logo">
                        </div>
                        <div class="logo-wrapper">
                            <img src="{% static 'images/logos/Slack-Logo-Transparent.png' %}" alt="Logo 8" class="logo">
                        </div>
                    </div>                    
                </div>                
            </div><!-- end col -->            
        </div><!-- end row -->
    </div>
    <!-- end container -->
    <div class="hero-bottom-shape shape-light">
        <img src="{% static 'images/hero-1-bottom-shape.png' %}" alt="" class="img-fluid d-block mx-auto" />
    </div>
    <div class="hero-bottom-shape shape-dark">
        <img src="{% static 'images/hero-1-bottom-shape-dark.png' %}" alt="" class="img-fluid d-block mx-auto" />
    </div>
    <!-- end hero shape -->
</section>

<script src="{% static 'js/logo_randomizer.js' %}"></script>
<!-- Hero End -->
{% endblock hero %}
