{% load static %}

{% block hero %}

<!-- Hero Start -->
<section class="hero-4 position-relative bg-light" style="background-image: url(/static/images/hero-4-bg.jpg);" id="home">
    <div class="bg-overlay bg-dark"></div>
    <div class="bg-overlay-img" style="background-image: url(/static/images/hero-4-overlay.png);"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <span class="badge badge-soft-primary mb-4">Creative Design</span>
                <h1 class="font-weight-semibold mb-4 hero-4-title">We Help Startups Launch Their Products</h1>
                <p class="mb-5 text-muted">Nemo enim ipsam voluptatem quia voluptas sit aut aspernatur aut fugit sed quia consequuntur magni dolores ratione voluptatem nesciunt.</p>
                <a href="#" class="btn btn-lg btn-primary me-2">Get Started</a>
                <a href="#" class="btn btn-lg btn-soft-primary me-2">Try for free</a>
            </div>
            <!-- end col -->
            <div class="col-lg-4 ms-lg-auto text-center mt-lg-0 mt-5">
                <div class="d-inline-block" data-bs-toggle="modal" data-bs-target="#watchvideomodal">
                    <a href="javascript: void(0);" class="play-icon-circle video-play-icon">
                        <i class="icon pl-1" data-feather="play"></i>
                    </a>
                </div>
                
                <!-- Modal -->
                <div class="modal fade bd-example-modal-lg" id="watchvideomodal" data-keyboard="false" tabindex="-1"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
                        <div class="modal-content hero-modal-0 bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <video id="VisaChipCardVideo" class="w-100" controls="">
                                <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                                <!--Browser does not support <video> tag -->
                            </video>
                        </div>
                    </div>
                </div>
                <!-- end modal -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</section>
<!-- Hero End -->


{% endblock hero %}