{% load static %}

{% block hero %}
<!-- Hero Start -->
<section class="hero-8 bg-center position-relative" style="background-image: url(/static/images/hero-8-bg.jpg);" id="home">
    <div class="bg-overlay bg-dark"></div>
    <div class="container">
        <div class="row justify-content-center hero-content">
            <div class="col-lg-9">
                <div class="text-center">
                    <i class="text-white sw-1_5 icon-lg icon-spin mb-4" data-feather="star"></i>
                    <h1 class="font-weight-semibold mb-4 text-white hero-8-title">We help startups launch their products with awesome website</h1>
                    <p class="mb-5 text-white-70 w-lg-75 mx-auto">Nemo enim ipsam voluptatem quia voluptas sit aut aspernatur aut fugit sed quia consequuntur magni dolores ratione voluptatem nesciunt.</p>
                    <a href="#" class="btn btn-light">Get Started <i class="icon-sm ms-1" data-feather="arrow-right"></i></a>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div>
</section>
<!-- Hero End -->

{% endblock hero %}