{% load static %}
{% load i18n %}
{% block navbar %}
<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top navbar-custom" id="navbar">
    <div class="container">
        <!-- LOGO -->
        <a class="navbar-brand logo" href="/">
            <img src="{% static 'images/15.png' %}" alt="" class="logo-dark" height="28" />
            <img src="{% static 'images/white_logo.png' %}" alt="" class="logo-light" height="28" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto navbar-center" id="navbar-navlist">
                <li class="nav-item">
                    <a href="#home" class="nav-link">{% trans "Home" %}</a>
                </li>
                <li class="nav-item">
                    <a href="#services" class="nav-link">{% trans "Services" %}</a>
                </li>
                <li class="nav-item">
                    <a href="#features" class="nav-link">{% trans "Features" %}</a>
                </li>
                <li class="nav-item">
                    <a href="#team" class="nav-link">{% trans "Team" %}</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">{% trans "Contact Us" %}</a>
                </li>
            </ul>
            <!-- Request a Demo Button -->
            <a href="https://calendly.com/office-workflowtime/30min" target="_blank" class="btn btn-sm rounded-pill nav-btn ms-lg-3">{% trans "Request a Demo" %}</a>
            <!-- Language Switcher Form -->
            <form method="get" action="{% url 'set_language' %}" class="language-switcher ms-lg-3">
                <select name="lang_code" class="form-select" onchange="this.form.submit()">
                    <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>🇬🇧 EN</option>
                    <option value="ro" {% if LANGUAGE_CODE == 'ro' %}selected{% endif %}>🇷🇴 RO</option>
                </select>
            </form>
        </div>
    </div>
    <!-- end container -->
</nav>
<!-- Navbar End -->


{% endblock navbar %}
