{% load static %}
{% load i18n %}

{% block team %}
<!-- Team start -->
<section class="section bg-light" id="team">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-7 text-center">
                <h2 class="fw-bold">{% trans "Our Team Members" %}</h2>
                <p class="text-muted">{% trans "Meet the dedicated professionals behind Workflow Time. Our team combines expertise in AI, automation, and business optimization to bring you cutting-edge solutions that drive success." %}</p>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="team-box mt-4 position-relative overflow-hidden rounded text-center shadow">
                    <div class="position-relative overflow-hidden">
                        <img src="{% static 'images/team/mario.jpeg' %}" alt="" class="img-fluid d-block mx-auto" />
                        <ul class="list-inline p-3 mb-0 team-social-item">
                            <li class="list-inline-item mx-3">
                                <a href="https://www.linkedin.com/in/marioghenea/" target="_blank" class="team-social-icon h-primary"><i class="icon-sm" data-feather="linkedin"></i></a>
                            </li>
                            <li class="list-inline-item mx-3">
                                <a href="https://x.com/m_ghenz/" class="team-social-icon h-info"><i class="icon-sm" data-feather="twitter"></i></a>
                            </li>
                            <li class="list-inline-item mx-3">
                                <a href="https://www.instagram.com/m_ghenz/" target="_blank" class="team-social-icon h-danger"><i class="icon-sm" data-feather="instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-4">
                        <h5 class="font-size-19 mb-1">Mario Ghenea</h5>
                        <p class="text-muted text-uppercase font-size-14 mb-0">{% trans "Operations Manager" %}</p>
                    </div>
                </div>
            </div>
            <!-- end col -->

            <div class="col-lg-3 col-sm-6">
                <div class="team-box mt-4 position-relative overflow-hidden rounded text-center shadow">
                    <div class="position-relative overflow-hidden">
                        <img src="{% static 'images/team/edi1.JPG' %}" alt="" class="img-fluid d-block mx-auto" />
                        <ul class="list-inline p-3 mb-0 team-social-item">
                            <li class="list-inline-item mx-3">
                                <a href="https://www.linkedin.com/in/eduard-ragea-27b778204/" target="_blank" class="team-social-icon h-primary"><i class="icon-sm" data-feather="linkedin"></i></a>
                            </li>
                            <li class="list-inline-item mx-3">
                                <a href="https://x.com/redi2001redi" target="_blank" class="team-social-icon h-info"><i class="icon-sm" data-feather="twitter"></i></a>
                            </li>
                            <li class="list-inline-item mx-3">
                                <a href="https://www.instagram.com/edyedyr/" target="_blank" class="team-social-icon h-danger"><i class="icon-sm" data-feather="instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-4">
                        <h5 class="font-size-19 mb-1">Eduard Ragea</h5>
                        <p class="text-muted text-uppercase font-size-14 mb-0">{% trans "AI Specialist" %}</p>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- Team end -->

{% endblock team %}
