{% block terms_content %}
<div class="text-muted">
    <h1>Terms and Conditions</h1>

    <p>Thank you for accessing the website <strong>workflowtime.com</strong>, hereinafter referred to as the ‘Website’ page.</p>

    <h2>Basic Rules</h2>
    <p><strong>WorkflowTIme</strong> is the legal domain name of <strong>NEWGEN SRL</strong>, legal entity of Romanian nationality, with headquarters at Bd. Apicultorilor, nr. 70-72, 2nd Floor, Bucharest, 013851, registered at the Trade Register under J40/12730/ 02.10.2020, having the CIF tax registration code: RO43129310. The Website you have accessed is a free website that provides information and services subject to these terms and conditions. You have no right to interfere with the operation of our Website or to take any intervention measures on our computer equipment, for any reasons and regardless of the obtained result.</p>

    <p>In order to use this website, it is necessary to read and accept these terms and conditions in their entirety. The services that this website provides are reserved for people over 18 years of age or minors over 16 years of age who have parental consent to use the website.</p>

    <p><strong>NEWGEN SRL</strong> assumes the right of making changes to the following provisions without notice. The most recent version of this document will be published on this page should it undergo changes. The Company shall have the right to change, suspend, terminate or restrict the use of the Website in whole or in part, for any reason and without any notice, the Company not being held liable for any damage caused to people using this Website.</p>

    <p>The use, modification, copying or any other operations related to the Registered Domain and the Website are not permitted without the prior or written consent of the Company.</p>

    <h2>Terms Used</h2>
    <ol>
        <li><strong>User</strong> – Any person accessing the website, for the purpose of gathering information.</li>
        <li><strong>Contact</strong> – Filling out the contact form by the user. After generating the contact form, the user agrees to be contacted through email and/or via phone by the firm representative.</li>
    </ol>

    <h2>Intellectual Property</h2>
    <p>The content of this website, including but not limited to the logo, stylized representations, symbols, images, photos, text content and the like, as well as the entire content of the information contained in the services carried out through the website, are the exclusive property of workflowtime.com.</p>

    <p>It is not allowed to copy, distribute, publish, modify, complete, use, display, include, link, transmit, remove insignia, photos, images, pieces of text, display, sell, etc., of the content, data, information, photographs or other information found on the Website or on the platforms/programs to which you purchase access through the Website, without the express written permission of workflowtime.com.</p>

    <p>It is not allowed to pass the data of the access account on the Website to a third party and/or to other online programs marketed through the Website.</p>

    <p>No Customer acquires, by using and accessing the Website, any right or license to use any of the information on the website or any intellectual/industrial property right over the services ordered from the Website.</p>

    <p>No Customer has the right to use an automatic or manual device to monitor the materials available on the Website.</p>

    <h2>Security of Personal Data and Information</h2>
    <p>Your personal data will be processed by <strong>NEWGEN SRL</strong>, legal person of Romanian nationality, with headquarters on the Bd. Apicultorilor, nr. 70-72, 2nd Floor, Bucharest, 013851, registered at the Trade Register under No. J40/12730/ 02.10.2020, having the CIF tax registration code: RO43129310; e-mail: office@workflowtime.com.</p>

    <p>Your personal data will only be disclosed to employees of the Company, for the processing purposes. By accepting these Terms and Conditions, the User declares that they agree to have their personal data included in our database and expressly consents to his/her provided personal data being stored, used and processed indefinitely by NEWGEN SRL and collaborators/affiliates of the Company, but also to be assigned/transferred to its affiliates as well as to other entities in the country or abroad, based on a confidentiality commitment from them.</p>

    <p>Also, by accepting these terms and conditions you agree that, in the event of a win of any nature, your name, image and the nature of the prize will be made public and used for advertising purposes, without further obligations or payments from the Company. However, for justified reasons, you will be able to withdraw your consent to the use of your image by the Company at any time.</p>

    <p>The withdrawal of consent must be made in writing, be express, explicit and be brought to the attention of the Company in due time.</p>

    <p>Your personal data will be used by the Company and its collaborators (delivery companies, payment processors, e-mail marketing services, etc.) only for the stated purpose of this Website. Personal data will be used for the purpose of transmitting information about our products, promotions, periodic newsletters, etc., as well as about the products and services of our partners.</p>

    <p>To improve the website’s performance and to provide the best possible experience, the Website uses cookies collected by our collaborators and stores information related to the IPs of the devices through which you access the Website.</p>

    <p>The cookies used by the Website can be, without being limited to: Google Analytics, Google AdWords, Facebook Login, Pinterest, Twitter and others. Any information you disclose on the Website may not be secure during transmission over the Internet. Third parties may intercept transmissions you make when using this Website. Therefore, the Company will not be responsible for any damages that you or any other person may suffer as a result of unauthorized interception while using this Website.</p>

    <h2>Damages and Compensation</h2>
    <p>Use this website at your own risk. Neither workflowtime.com nor the owners or third parties involved in the creation, production or delivery of the Website are responsible for damages direct, indirect, punitive, incidental, special, consequential or other damages related to the use of this Website or the content, whether in strict contract, strict liability or otherwise, even with notice of the possibility of such damages.</p>

    <h2>Links to Other Websites</h2>
    <p>The Website may contain certain links to third-party websites. By accessing links to other websites, you assume responsibility for complying with the terms and conditions governing those websites. By accepting these terms and conditions, you implicitly accept that the Company cannot control, to any extent, the content of third-party websites.</p>

    <p>Therefore, the company does not assume any responsibility towards the visitors in regards to the information of any nature contained on the respective websites. Any inclusion of links to other websites is for the sole purpose of assisting visitors to the Website and does not imply endorsement by the Company of the material available on or through those websites or any association with their operators. The user accesses those websites and uses their products and services solely at their own risk.</p>

    <h2>Liability Limitation</h2>
    <p>By accepting these terms and conditions, you understand and agree that the Company shall not be liable to you for any direct, indirect, incidental, special, consequential or exemplary damages, including without being limited to damages for loss of profits, clientele, use, data or other immaterial losses (even if the Company has been informed of the possibility of such damages), derived from:</p>
    <ol>
        <li>the use or inability to use the Website;</li>
        <li>the cost of procuring substitute services resulting from any services obtained through or from the Website;</li>
        <li>unauthorized access or alteration of your transmissions or data;</li>
        <li>statements or conduct of any third party with respect to the Website;</li>
        <li>inaccuracies, mistakes or errors in content;</li>
        <li>personal injury or property damage, regardless of their nature, derived from your access to and from the use of the Website;</li>
        <li>any program defects, viruses, “Trojan horses” or similar entities, which may be transmitted to or through the Website by a third party; or</li>
        <li>any other matter relating to the Website whether based on warranty, contract, tort or any other legal theory.</li>
    </ol>

    <h2>Force Majeure</h2>
    <p>None of the contracting parties is responsible for the non-execution on time and/or the improper execution – in whole or in part – of any obligation falling under this contract, if the non-execution or improper execution of the respective obligation was caused by force majeure, as defined by law, for reasons beyond the control of the parties.</p>

    <p>The party invoking force majeure is obliged to notify the other party, within 5 (five) days, of the occurrence of the event and to take all possible measures to limit its consequences.</p>

    <h2>Final Dispositions</h2>
    <p>This website is owned by <strong>NEWGEN SRL</strong>, which grants you the right to access and use the website subject to your acceptance of these Terms and Conditions. By accessing and using the website you automatically and unequivocally agree to be bound by the Terms and Conditions on the website.</p>

    <p>The customer has the obligation to strictly comply with the Terms and Conditions on the website and cannot claim and cannot defend himself with ignorance of the Terms and Conditions on the website, valid on the date of access, use and/or in the case of services.</p>
</div>
{% endblock terms_content %}
